@import "fonts.css";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-and-phone {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 29px;
    line-height: 46px;
    color: #0f5f5c;
    font-family: Proxima-Nova-Bold, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-piece {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vert-line {
    font-size: 20px;
    color: #83a7a5;
    opacity: 50%;
    padding: 0 30px 0 5px;
}

.phone-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #83a7a5;
}

.phone:first-child {
    opacity: 70%;
    filter: invert(79%) sepia(7%) saturate(1036%) hue-rotate(128deg) brightness(81%) contrast(84%);
    margin-right: 10px;
}

.phone:last-child {
    font-size: 13px;
    line-height: 21px;
    font-family: Montserrat-Regular, sans-serif;
}

.nav {
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 400;
    text-align: right;
    align-items: center;
    list-style: none;
}

.burger {
    position: relative;
    display: none;
}

.burger-part {
    width: 35px;
    height: 5px;
    background-color: #0f5f5c;
    margin: 6px 0;
}

.burger-nav-bar {
    z-index: 1;
}

.burger-nav-bar {
    top: -320px;
    display: block;
    text-align: center;
    flex-direction: column;
    list-style: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    text-decoration: none;
    right: 0;
    background-color: #0f5f5c;
    opacity: 90%;
}


@keyframes nav-bar-open {
    from {top: -270px;}
    to {top: 85px;}
}

@keyframes nav-bar-close {
    from {top: 85px;}
    to {top: -270px;}
}

.burger-nav-bar > li {
    margin: 20px 0 30px 0;
}

.burger-nav-bar > li:last-child {
    margin: 20px 0;
}

.burger-nav-link {
    text-decoration: none;
    color: rgb(187, 196, 196);
    transform-origin: top center;
    animation: nav-down 1s ease;
}

.burger-nav-link:hover {
    background-color: #197975;
}

@keyframes nav-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 35px;
    color: rgb(187, 196, 196);
}

.nav-link:hover {
    opacity: 0.75;
}

.get-started {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 21px;
    border-style: none;
    background-color: #6fb048;
    color: white;
    text-transform: uppercase;
    font-family: Roboto-Bold, sans-serif;
}

/* Intro */

.intro {
    background: url("../img/map.svg");
    height: 400px;
    filter: grayscale(50);
}

/* Join Us */

.join-us {
    padding-top: 75px;
}

.join-us-title {
    font-size: 32px;
    line-height: 40px;
    color: #0f5f5c;
    font-family: Roboto-Light, sans-serif;
    text-align: center;
    padding-bottom: 35px;
}

.join-us-title-border {
    border-bottom: 1px solid #6fb048;
    width: 65px;
    margin: 0 auto 35px;
}

.join-us-text {
    font-size: 15px;
    line-height: 23px;
    color: #83a7a5;
    width: 80%;
    align-items: center;
    font-family: Roboto-Regular, sans-serif;
    text-align: center;
    margin: 0 auto 80px;
}

.form-address {
    display: flex;
    justify-content: space-around;
}

.form {
    max-width: 600px;
}

.form-row {
    text-indent: 20px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #83a7a5;
    max-width: 510px;
    width: 90%;
    height: 46px;
    margin-bottom: 25px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
    border: 1px solid #c1d3d2;
    outline: none;
}

#message {
    padding-top: 10px;
    height: 124px;
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.address {
    padding: 50px;
    width: 342px;
    max-width: 75vw;
    min-width: 234px;
    height: 273px;
    background-color: #ffffff;
    border: 2px dashed #c1d3d2;
    display: inline;
}

.address-title {
    font-size: 22px;
    line-height: 21px;
    color: #0f5f5c;
    font-family: Roboto-Light, sans-serif;
    margin-bottom: 20px;
}

.address-tools {
    display: flex;
    margin-bottom: 20px;
}

.address-tools-img {
    filter: invert(64%) sepia(28%) saturate(826%) hue-rotate(54deg) brightness(92%) contrast(88%);
}

.address-tools-text {
    padding-left: 12px;
    width: 157px;
    font-size: 15px;
    line-height: 22px;
    color: #83a7a5;
    font-family: Roboto-Regular, sans-serif;
}

/* Download */

.download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0 15px;
}

.download:last-child {
    padding-right: 36px;
}

.download-background {
    background: url("../../assets/img/download.svg");
    width: 100%;
    height: 200px;
}

.download-title {
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
    font-family: Roboto-Light, sans-serif;
    padding-bottom: 10px;
}

.download-text {
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    font-family: Roboto-Regular, sans-serif;
}

.download-btn {
    padding: 12px;
    width: 285px;
    border-radius: 2px;
    background-color: #49732f;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-style: none;
}


@media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    .burger {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .get-started {
        background-color: #0f5f5c;
    }

    .form-address, .download {
        flex-direction: column;
        align-items: center;
    }

    .form-address {
        padding-bottom: 50px;
    }

    .download-background {
        background: url("../../assets/img/Layer 10.png") no-repeat center center / cover;
    }
}

@media (max-width: 768px) {
    .intro {
        display: none;
    }
    .form-row {
        width: inherit;
    }
}

@media (max-width: 425px) {
    .address {
        min-width: 320px;
    }
}

@media (max-width: 375px) {
    .phone:last-child {
        display: none;
    }
}